@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the first Application made by <a href="https://github.com/adrienpaysant">Adrien Paysant </a> 
                                         and <a href="https://github.com/JorisMonnet"> Joris Monnet </a> in ASP.NET.<br />
    This Simple CRUD application allows to manage books. You can view a list of books, view detail of a single book, delete and edit it or also add a new book.<br /><br />
    This project has been made during the .Net course in He-Arc in 2021.</p>
</div>
